doctype html
html
    head
        title= name
    body
        h1.greetings#people
           p Hello World!

        //h1= name
        a(href= url, target= "_blank") Go to XXX Page!

        if(user)
            h1 Hi, #{user.name}
        else
            a(href="/sign_up") Sign Up

// use "h1=" not "h1 =", without space
